body {
  display: flex;
  min-height: 100vh;
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  font-size: 1em;
  letter-spacing: 0.1px;
  color: #32465a;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

#frame {
  width: 100vw;
  height: 100vh;
  min-height: 300px;
  background: #E6EAEA;
}

.profile-main-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid #2ecc71;
  float: left;
  cursor: pointer;
  -moz-transition: 0.3s border ease;
  -o-transition: 0.3s border ease;
  -webkit-transition: 0.3s border ease;
  transition: 0.3s border ease;
}

.profile-main-name {
  float: left;
  margin-left: 15px;
}

.profile .wrap p {
  float: left;
  margin-left: 15px;
}

.status-options {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 150px;
  margin: 70px 0 0 0;
  border-radius: 6px;
  z-index: 99;
  line-height: initial;
  background: #435f7a;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.status-options:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #435f7a;
  margin: -8px 0 0 24px;
}
.status-options.active {
  opacity: 1;
  visibility: visible;
  margin: 75px 0 0 0;
}
.status-options ul li {
  padding: 15px 0 30px 18px;
  display: block;
  cursor: pointer;
}
.status-options ul li p {
  padding-left: 12px;
}
span.status-circle {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px 0 0 0;
}
span.status-circle:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  margin: -3px 0 0 -3px;
  background: transparent;
  border-radius: 50%;
  z-index: 0;
}
.status-online span.status-circle {
  background: #2ecc71;
}
.status-online.active span.status-circle:before {
  border: 1px solid #2ecc71;
}
.status-away span.status-circle {
  background: #f1c40f;
}
.status-away.active span.status-circle:before {
  border: 1px solid #f1c40f;
}
.status-busy span.status-circle {
  background: #e74c3c;
}
.status-busy.active span.status-circle:before {
  border: 1px solid #e74c3c;
}
.status-offline span.status-circle {
  background: #95a5a6;
}
.status-offline.active span.status-circle:before {
  border: 1px solid #95a5a6;
}

.exit-button {
  float: right;
  margin-top: 17px;
  font-size: 1.5em;
  cursor: pointer;
  color: #44617b;
}

.exit-button:hover {
  color: #f5f5f5;
}

#frame .sidepanel {
  float: left;
  min-width: 280px;
  width: 340px;
  height: 100%;
  background: hsl(210, 29%, 20%);
  color: #f5f5f5;
  overflow: hidden;
  position: relative;
}

#frame .sidepanel .profile {
  width: 80%;
  margin: 25px auto;
}

.search {
  border-top: 1px solid hsl(210, 29%, 25%);
  border-bottom: 1px solid hsl(210, 29%, 25%);
  font-weight: 300;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.3);
}

.search-label {
  position: absolute;
  margin: 10px 0 0 20px;
}

.search-input {
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  padding: 10px 0 10px 46px;
  width: calc(100%);
  border: none;
  background: hsl(210, 29%, 20%);
  color: #f5f5f5;
}

.search-input:focus {
  outline: none;
  background: hsl(209, 29%, 37%);
}

.search-input::-webkit-input-placeholder {
  color: #f5f5f5;
}
.search-input::-moz-placeholder {
  color: #f5f5f5;
}
.search-input:-ms-input-placeholder {
  color: #f5f5f5;
}
.search-input:-moz-placeholder {
  color: #f5f5f5;
}

#frame .sidepanel .contacts {
  height: calc(100% - 200px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidepanel .contacts::-webkit-scrollbar {
  width: 10px;
  /* background: #2c3e50; */
}

.sidepanel .contacts::-webkit-scrollbar-track {
  background-color: hsl(212, 28%, 35%);
}

.sidepanel .contacts::-webkit-scrollbar-thumb {
  background-color: hsl(212, 28%, 20%);
}

#frame .sidepanel .bottom-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
}

#frame .sidepanel .profile .wrap {
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  -moz-transition: 0.3s height ease;
  -o-transition: 0.3s height ease;
  -webkit-transition: 0.3s height ease;
  transition: 0.3s height ease;
}

.bottom-bar button {
  float: left;
  border: none;
  height: 50px;
  width: 50%;
  padding: 10px 0;
  background: hsl(210, 29%, 23%);
  color: hsl(0, 0%, 96%);
  cursor: pointer;
  font-size: 0.85em;
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
}

.bottom-bar button i {
  margin-right: 3px;
  font-size: 1em;
}

.bottom-bar button:focus {
  outline: none;
}

.bottom-bar button:hover {
  background: hsl(210 29% 30%);
}

.bottom-bar button:nth-child(1) {
  border-right: 2px solid hsl(210, 29%, 27%);
}

.contact {
  display: flex;
  position: relative;
  margin: 0 auto;
  padding: 10px 15px 20px;
  font-size: 0.9em;
  cursor: pointer;
  /* width: 88%; */
}

.contact:hover {
  background: hsl(210, 29%, 27%);
}

.contact:hover .contact-status {
  border-color: hsl(210, 29%, 27%);
}

.contact.active {
  background: hsl(210 29% 26%);
  border-right: 5px solid #435f7a;
}

.contact.active .contact-status {
  border-color: hsl(210 29% 26%);
}

/* .status-contact {
  position: absolute;
  left: 0;
  margin: -2px 0 0 -2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #2c3e50;
  background: #95a5a6;
} */

.online {
  background: #2ecc71;
}

.contact img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.meta {
  padding: 5px 0 0 0;
}

.meta .name {
  font-weight: 600;
}

.meta .preview {
  margin: 5px 0 0 0;
  padding: 0 0 1px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-status {
  border: 2px solid hsl(210, 29%, 20%);
  position: absolute;
  left: 0;
  margin: -3px 0 0 14px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #95a5a6;
}

.contact-status.online {
  background: hsl(145, 63%, 49%);
}
.contact-status.away {
  background: hsl(48, 89%, 50%);
}
.contact-status.busy {
  background: hsl(6, 78%, 57%);
}


/* --------------- */

.content {
  float: right;
  width: calc(100% - 340px);
  height: 100%;
  overflow: hidden;
  position: relative;
  left: calc(100% - 340px);
  transition: left .3s ease-in-out;
}

.content.show {
  left: 0px;
}

.content-top-bar {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #f5f5f5;
  border-bottom: 1px solid hsl(0, 0%, 85%);
}

.content-top-bar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  margin: 9px 12px 0 9px;
  border: 1px solid hsl(0, 0%, 70%);
}

.messages {
  height: auto;
  min-height: calc(100% - 110px);
  max-height: calc(100% - 110px);
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-flow: column-reverse;
  padding-bottom: .5rem;
}

.messages::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

.messages::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 40%, 0.3);
}

.messages::-webkit-scrollbar-track {
  background-color:hsla(0, 0%, 100%, 0.3);
}

/* .messages li {
  display: flex;
} */

.messages img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.messages p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
  max-width: 500px;
}

.message-time {
  color: hsl(0, 0%, 41%);
  align-self: flex-end;
}

.sent {
  display: flex;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}

.sent p {
  border-top-left-radius: 0%;
  background: hsl(210 32% 33%);
  color: #fff;
}

.sent img {
  float: left;
  margin: 6px 8px 0 0;
}

.replies {
  display: flex;
  clear: both;
  flex-direction: row-reverse;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}

.replies img {
  float: right;
  margin: 6px 0 0 8px;
}

.replies p {
  border-top-right-radius: 0%;
  background: #f5f5f5;
  float: right;
}

.message-sent-input {
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  float: left;
  border: none;
  height: 50px;
  width: calc(100% - 80px);
  padding: 11px 32px 10px 8px;
  font-size: 1em;
  color: #000;
  padding-left: 15px;
}

.message-sent-input:focus {
  outline: none;
}

.message-sent-button {
  float: right;
  border: none;
  height: 50px;
  width: 80px;
  padding: 12px 0;
  cursor: pointer;
  background: hsl(210, 29%, 27%);
  color: #f5f5f5;
}

.message-sent-button:hover {
  background: hsl(210 29% 30%);
}

.message-sent-button:focus {
  outline: none;
}

/* modal */

.modal-background {
  /* display: none; */
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 41%, 0.8);
  z-index: -1;
  opacity: 0;
  transition: opacity .4s ease-in-out, z-index .4s ease-in-out;
}

.modal-background.modal-show {
  opacity: 1;
  z-index: 100;
}

.modal-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal-content {
  background-color: hsl(210, 29%, 20%);
  height: auto;
  width: 350px;
  color: hsl(0, 0%, 80%);
  top: -100%;
  transition: top .3s ease-in-out;
}

.modal-background.modal-show .modal-content {
  top: 0;
}

.modal-header {
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: none;
  flex-direction: column;
  padding: 0;
}

.modal-header .fa-times {
  float: right;
  cursor: pointer;
}

.modal-header .fa-times:hover {
  color: #fff;
}

.modal-header-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.modal-header .search {
  width: 100%;
}

.modal-body {
  height: 18rem;
  overflow-y: scroll;
  width: 100%;
  padding: 15px 8px;
}

.modal-body::-webkit-scrollbar {
  width: 10px;
}

.modal-body::-webkit-scrollbar-track {
  background-color: hsl(212, 28%, 35%);
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: hsl(212, 28%, 20%);
}

.person {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  background-color: hsl(210, 29%, 20%);
  margin-bottom: 8px;
  padding: 10px 5px;
  border-radius: 5px;
}

.person:hover {
  background-color: hsl(210, 29%, 30%);
}

.person-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}