<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Чат</title>
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/reset.min.css" />
  <link rel="stylesheet" href="css/main_.css" />
</head>

<body>

  <div id="app">

    <div :class="['modal-background', { 'modal-show' : popup_stats }]">
      <div class="modal-center">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-header-text">
              <p>Статистика вашего общения</p>
              <i class="fa fa-times" @click="popup_stats = false"></i>
            </div>
          </div>
          <div class="modal-content">
            <my-chart :data="stat_data"></my-chart>
          </div>
        </div>
      </div>
    </div>

    <div :class="['modal-background', { 'modal-show': popup_contact }]">
      <div class="modal-center">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-header-text">
              <p>Выберите пользователя</p>
              <i class="fa fa-times" @click="popup_contact = false"></i>
            </div>
            <div class="search">
              <label class="search-label" for=""><i class="fa fa-search" aria-hidden="true"></i></label>
              <input class="search-input" type="text" placeholder="Поиск контактов...">
            </div>
          </div>
          <div class="modal-body">
            <div v-for="person in persons" class="person" @click="append_room(person.id)">
              <img :src="person.avatar" alt="" class="person-avatar" />
              <p>{{ person.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="frame">
      <div class="sidepanel">
        <div class="profile">
          <div class="wrap">
            <img class="profile-main-image" :src="user.avatar" alt>
            <p class="profile-main-name">{{ user.name }}</p>
            <i class="fa fa-sign-out exit-button" @click="signout"></i>
            <div class="status-options">
              <ul>
                <li class="status-online active">
                  <span class="status-circle"></span>
                  <p>Онлайн</p>
                </li>
                <li class="status-away">
                  <span class="status-circle"></span>
                  <p>Отошёл</p>
                </li>
                <li class="status-busy">
                  <span class="status-circle"></span>
                  <p>Занят</p>
                </li>
                <li class="status-offline">
                  <span class="status-circle"></span>
                  <p>Оффлайн</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="search">
          <label class="search-label" for=""><i class="fa fa-search" aria-hidden="true"></i></label>
          <input class="search-input" type="text" placeholder="Поиск контактов...">
        </div>
        <div class="contacts">
          <div v-for="contact in contacts" 
               :class="['contact', {'active': contact.is_active}]"
               @click="activate_chat(contact)">
            <span :class="['contact-status', contact.contact_status]"></span>
            <img :src="contact.avatar" alt="">
            <div class="meta">
              <p class="name">{{ contact.user_name }}</p>
              <p class="preview">{{ contact.last_msg }}</p>
            </div>
          </div>
        </div>
        <div class="bottom-bar">
          <button @click="add_contacts">
            <i class="fa fa-user-plus fa-fw"></i>
            <span>Добавить контакт</span>
          </button>
          <button @click="show_stats">
            <i class="fa fa-bar-chart fa-fw"></i>
            <span>Статистика общения</span>
          </button>
        </div>
      </div>
      <div :class="['content', { 'show' : show_content }]">
        <div class="content-top-bar">
          <img class="content-top-bar-img" :src="content.mate_avatar" alt="">
          <p>{{ content.mate_name }}</p>
        </div>
        <div class="messages">
          <div>
            <div v-for="message in content.messages" :class="[message.my_message ? 'replies' : 'sent']">
              <img :src="message.person_sender.avatar" alt="" />
              <p>{{ message.text }}</p>
              <span class="message-time">{{ message.time }}</span>
            </div>
          </div>
        </div>
        <div class="message-sent">
          <input class="message-sent-input"
                 type="text"
                 placeholder="Напишите сообщение..."
                 v-model="message_text"
                 v-on:keyup.enter="sent_message">
          <button class="message-sent-button" @click="sent_message">
            <i class="fa fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/jquery-3.5.1.min.js"></script>
  <script src="/js/vue.js"></script>
  <script src="/js/socket.io.min.js"></script>
  <script src="/js/moment.min.js"></script>
  <script src="/js/chart.js"></script>
  <script src="/js/vue-chartjs.min.js"></script>
  <script src="/js/app.js"></script>
  <script>
    $(".profile-main-image").click(function () {
      $(".status-options").toggleClass("active");
    });
  </script>
</body>

</html>